:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--dark);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #000;
  --white: #fff;
  --dark: #333;
  --grey: #aaa;
  --primary: #d30371;
}

/* C O L O R  S C H E M E */

[dark-mode="true"]{
  color: var(--white) !important;
  background-color: var(--dark) !important;
}
[dark-mode="true"] nav{
  background-color: var(--dark) !important;
  box-shadow: var(--black) 1px 1px 5px !important;
}
[dark-mode="true"] .nav-link{
  color: var(--white);
}
[dark-mode="false"]{
  color: var(--dark) !important;
  background-color: var(--white) !important;
}
[dark-mode="false"] nav{
  background-color: var(--white) !important;
  box-shadow: var(--black) 1px 1px 5px !important;
}
[dark-mode="false"] .nav-link{
  color: var(--dark);
}

/* G L O B A L */

*{
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  text-decoration: none;
  transition: background-color 0.2s ease;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--primary);
  background-image: linear-gradient(transparent, var(--primary), transparent);
}
::selection{
  color: var(--white);
  background-color: var(--primary);
}
html{
  scroll-behavior: smooth;
}
body, .wrapper, #app{
  width: 100%;
  height: 100%;
}
h1, h2, h3, p, body{
  margin: 0px;
  padding: 0px;
}

/* C O M P O N E N T S */

header{
  width: 100%;
  position: fixed;
  top: 0;
  padding: 16px;
}
.expand{
  padding: 0px;
  transition: padding 0.5s ease;
}
.expand nav{
  width: 100% !important;
  border-radius: 0px;
}
nav{
  width: 1440px;
  margin: auto;
  user-select: none;
  border-radius: 32px;
  background-color: var(--white);
  box-shadow: var(--grey) 1px 1px 5px;
  transition: width 0.5s ease, border-radius 0.7s ease;
}
nav .container{
  display: flex;
  flex-direction: row !important;
  align-items: center;
}
main{
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 16px;
  min-height: 1080px;
  z-index: -1;
  overflow-x: hidden;
}
.hr{
  content: '';
  color: var(--white);
  width: 100%;
  height: 2px;
  /* background-color: var(--primary); */
  background-image: linear-gradient(to right, transparent, var(--primary), transparent);
}
footer .container{
  min-height: 120px;
}
.title{
  font-size: 48px;
  line-height: 72px;
}

/* C O N T E N T */

.nav-right{
  margin-left: auto;
}
.nav-link{
  color: var(--dark);
  font-weight: 700;
}
.container{
  margin: 0px auto;
  width: 1440px;
  padding: 16px;
}
.banner{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.banner *::selection{
  background-color: var(--white);
  color: var(--primary);
}
.banner .content{
  display: inherit;
  flex-direction: inherit;
  flex-grow: 1;
  max-height: 240px;
  gap: 16px;
}
.banner-img{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: inherit;
  height: 80%;
  background-color: var(--primary);
}
.banner .title{
  color: var(--white);
  font-size: 72px;
  line-height: 72px;
}
.stacks{
  max-width: 720px;
}
.stacks ul, .card-body ul{
  user-select: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.stacks ul li, .card-body ul li{
  padding: 8px 16px;
  background-color: var(--grey);
  color: var(--white);
  font-weight: 500;
}

/* C A R D */
.card-list{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-img{
  width: 420px;
}
.card-img img{
  width: 100%;
  height: 240px;
}
.card-body{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  padding: 0px 16px;
}
.card-body h3{
  font-size: 24px;
}
.card-body p{
  max-width: 640px;
}
.card-body ul li{
  padding: 4px 8px;
  font-size: smaller;
}

/* A D D I T I O N A L */

.p-0{
  padding: 0px !important;
  margin: 0px !important;
}
.bg-grey{
  background-color: var(--grey);
}
.font-light{
  font-weight: 400;
}

/* P R E F E R E N C E S */

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--white);
    background-color: var(--dark);
  }
  nav{
    background-color: var(--dark);
    box-shadow: var(--black) 1px 1px 5px;
  }
  .nav-link{
    color: var(--white);
  }
}
@media (max-width: 1440px){
  .container, nav{
    width: 100% !important;
  }
  .banner h2{
    font-size: medium;
  }
}
@media (max-width: 800px){
  .card-body{
    margin-top: 16px;
  }
  .card-body p{
    max-width: 100%;
  }
}
@media (min-width: 2056px){
  .banner{
    height: 1080px !important;
  }
  body{
    min-height: 100vh !important;
  }
  footer .container{
    min-height: 1286px;
  }
}
