:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--dark);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #000;
  --white: #fff;
  --dark: #333;
  --grey: #aaa;
  --primary: #d30371;
}

/* C O L O R  S C H E M E */

[dark-mode="true"], [dark-mode="true"] nav, [dark-mode="true"] .nav-link, [dark-mode="true"] a, [dark-mode="true"] .grid, [dark-mode="true"] .theme span{
  color: var(--white) !important;
  background-color: var(--dark) !important;
}
[dark-mode="true"] nav{
  box-shadow: var(--black) 1px 1px 5px !important;
}
[dark-mode="false"], [dark-mode="false"] nav, [dark-mode="false"] .nav-link, [dark-mode="false"] .grid, [dark-mode="false"] .theme span{
  color: var(--dark) !important;
  background-color: var(--white) !important;
}
[dark-mode="false"] nav{
  box-shadow: var(--black) 1px 1px 5px !important;
}

.theme{
  background-color: transparent;
  border: none;
  min-width: 36px;
}

/* G L O B A L */

*{
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  text-decoration: none;
}
div, nav, header, nav *{
  transition: background-color 0.2s ease;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--primary);
  background-image: linear-gradient(transparent, var(--primary), transparent);
}
::selection{
  color: var(--white);
  background-color: var(--primary);
}
html{
  scroll-behavior: smooth;
}
body, .wrapper, #app{
  width: 100%;
  height: 100%;
}
h1, h2, h3, p, body{
  margin: 0px;
  padding: 0px;
}
h2{
  font-family: 'Archivo Black';
}

/* C O M P O N E N T S */

header{
  width: 100%;
  position: fixed;
  top: 0;
  padding: 16px;
  z-index: 999;
}
.expand{
  padding: 0px;
  transition: padding 0.5s ease;
}
.expand nav{
  width: 100% !important;
  border-radius: 0px;
}
nav{
  width: 1440px;
  margin: auto;
  user-select: none;
  border-radius: 32px;
  background-color: var(--white);
  box-shadow: var(--grey) 1px 1px 5px;
  transition: width 0.5s ease, border-radius 0.7s ease, background-color 0.2s ease;
}
nav .container{
  display: flex;
  flex-direction: row !important;
  align-items: center;
}
main{
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 800px;
  overflow-x: hidden;
}
main h2{
  color: var(--primary);
}
.hr{
  content: '';
  color: var(--white);
  width: 100%;
  height: 2px;
  /* background-color: var(--primary); */
  background-image: linear-gradient(to right, transparent, var(--primary), transparent);
  z-index: -1;
}
footer .container{
  min-height: 120px;
}
.title{
  font-size: 48px;
  line-height: 72px;
  font-family: 'Archivo Black';
  /* color: var(--primary); */
}

/* C O N T E N T */

.nav-right{
  margin-left: auto;
}
.nav-link{
  color: var(--dark);
  font-weight: 700;
}
.container{
  margin: 0px auto;
  width: 1440px;
  padding: 16px;
}
.banner{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: hidden !important;
}
.banner *::selection{
  background-color: var(--white);
  color: var(--primary);
}
.banner .content{
  display: inherit;
  flex-direction: inherit;
  min-height: 240px;
  gap: 16px;
}
.banner .profile{
  position: absolute;
  right: 50vw;
  transform: translate(130%);
  width: 560px;
  aspect-ratio: 1 / 1;
  z-index: -999;
}
.banner .content .summary{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.banner .content .summary article{
  max-width: 420px;
  text-align: end;
}
.banner-img{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: inherit;
  flex-grow: 1;
  max-height: 80vh;
  height: 80%;
  background-color: var(--primary);
  overflow: hidden !important;
}
.banner .title{
  color: var(--white);
  font-size: 72px;
  line-height: 72px;
  position: relative;
}
.banner .title::before{
  content: "Hello! I'm";
  position: absolute;
  top: -50%;
  left: 4px;
  font-size: 16px;
}
.stacks{
  max-width: 720px;
}
.stacks ul, .card-body ul{
  user-select: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.stacks ul li, .card-body ul li{
  padding: 8px 16px;
  background-color: var(--grey);
  color: var(--white);
  font-weight: 500;
  transition: transform 0.2s ease;
}
.stacks ul li:active, .card-body ul li:active{
  transform: scale(0.9);
}

/* C A R D */
.card-list, .grid-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
}
.card{
  width: 340px;
  height: 260px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--black) 1px 1px 5px;
}
.card-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.card-img{
  width: 100%;
  height: 100%;
  user-select: none;
  position: absolute;
  top: 0;
  z-index: -1;
}
.card-img img{
  width: 100%;
  height: 100%;
  filter: blur(1px);
}
.card-body{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  justify-content: space-between;
  color: var(--white);
}
.card-description{
  display: flex;
  width: 100%;
  flex-direction: inherit;
  align-items: end;
  gap: 16px;
  z-index: 0;
}
.card-description p{
  opacity: 0;
  transition: opacity 0.2s ease;
}
.card-body:hover .card-description p{
  opacity: 1 !important;
}
.card-wrapper .card-img{
  filter: brightness(50%);
  transition: filter 0.2s ease;
}
.card-wrapper:hover .card-img{
  filter: brightness(5%) !important;
}
.card-body h3{
  font-size: 24px;
}
.card-description p{
  max-width: 640px;
}
.card-description ul li{
  padding: 4px 8px;
  font-size: smaller;
  box-shadow: var(--black) 1px 1px 5px;
}

/* G R I D */
.grid-list{
  width: auto !important;
  gap: 0px !important;
  justify-content: start;
  margin: auto;
}
.grid{
  width: 20%;
  background-color: #333;
  transition: background-size 1s ease;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: var(--black) 1px 1px 5px;
}
/* .grid:hover{
  background-size: contain !important;
} */

/* S O C I A L S */
.socials{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 720px;
  min-height: 120px;
}
.socials ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0px !important;
  margin: 0px !important;
  justify-content: space-between;
  width: 100%;
}

/* A D D I T I O N A L */

.p-0{
  padding: 0px !important;
  margin: 0px !important;
}
.bg-grey{
  background-color: var(--grey);
}
.font-light{
  font-weight: 400;
  font-family: 'Archivo Black';
}

/* P R E F E R E N C E S */

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--white);
    background-color: var(--dark);
  }
  nav{
    background-color: var(--dark);
    box-shadow: var(--black) 1px 1px 5px;
  }
  .nav-link{
    color: var(--white);
  }
}
@media (max-width: 1440px){
  .grid-list{
    gap: 0px !important;
  }
  .grid{
    width: 25% !important;
  }
  .container, nav{
    width: 100% !important;
  }
  .banner h2{
    font-size: medium;
  }
  .banner .profile{
    right: 0 !important;
    transform: none !important;
  }
}
@media (max-width: 800px){
  .banner .content .summary article{
    text-align: start;
    margin-top: 16px;
  }
  .banner .title::before{
    top: -48px !important;
  }
  .banner .profile{
    width: 120% !important;
    /* transform: translate(20%) !important;  */
  }
  .card{
    width: 100% !important;
  }
  .grid{
    width: 50% !important;
  }
  .stacks ul li{
    padding: 4px 6px;
  }
  .hr{
    display: none;
  }
  .socials{
    min-width: 100% !important;
  }
}
@media (min-width: 2056px){
  .banner{
    min-height: 1080px !important;
  }
  body{
    min-height: 100vh !important;
  }
  footer .container{
    min-height: 1286px;
  }
}
